<div class="sidebar">
    <div>
        <div class="profile-image text-center">
            <img src="../../../assets/images/Avinash_profile.jpg" alt="Avinash Humney">
        </div>
        <h1 class="text-center title">Avinash Humney</h1>
        <h2 class="text-uppercase designation text-center">Frontend Developer in India</h2>
        <div class="text-center">
            <ul class="nav-links">
                <li class="nav-item">
                    <a href="#home" class="active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a href="#work">Work</a>
                </li>
                <li class="nav-item">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="main">

    <section id="home" style="height: 100vh;">
        <div class="row align-items-center" style="height: 100%;">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="home-main">
                    <h1 class="homepage-title">Hi!<br><span>I'm Avinash</span></h1>
                    <h2 class="homepage-description">I help designers, small agencies and businesses bring their ideas
                        to life. Powered by
                        Figma, VS Code
                        and coffee, I turn your requirements into CMS-ified and ecommerce-ified websites - on time and
                        on
                        budget.
                    </h2>
                    <a href="../../../assets/pdf/Avinash_Humney.pdf" class="btn-cv-download" target="_blank">Download
                        CV<i class="fas fa-download"></i></a>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="mt-5">
                    <img class="align-middle" src="../../../assets/images/undraw_building_websites_i78t.svg"
                        alt="Homepage banner" height="500px" width="550px">
                </div>
            </div>
        </div>
    </section>

    <section id="about" style="height: 100vh;">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <h2 class="text-uppercase about-title">About us</h2>
                <h3 class="text-uppercase who-am-I">Who am I?</h3>
                <p class="description">
                    <span>Hi I'm Avinash Humney</span> On her way she met a copy. The copy warned the Little Blind Text,
                    that where it came from it would have been rewritten a thousand times and everything that was left
                    from its origin would be the word "and" and the Little Blind Text should turn around and return to
                    its own, safe country.
                </p>
                <p class="description">
                    Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                    life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the
                    far World of Grammar.
                </p>
            </div>
        </div>
        <div class="grids">

            <div class="row">
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="grid design-grid">
                        <span><i class="far fa-lightbulb"></i></span>
                        <h4>Graphic Design</h4>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="grid web-grid">
                        <span><i class="fas fa-globe"></i></span>
                        <h4>Web Design</h4>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="grid software-grid">
                        <span><i class="fas fa-database"></i></span>
                        <h4>Software</h4>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="grid application-grid">
                        <span><i class="fas fa-mobile-alt"></i></span>
                        <h4>Application</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="hire-me">
            <h5>
                I am happy to know you
                that 300+ projects done sucessfully!
            </h5>
            <button class="text-uppercase hire-me-btn">Hire me</button>
        </div>
    </section>

    <section id="skills" style="height: 100vh;">
        <div class="mt-5">

            <div class="row align-items-center" style="height: 100%;">
                <div class="col-12 col-md-6 col-lg-6">
                    <h2 class="text-uppercase about-title">My speciality</h2>
                    <h3 class="text-uppercase who-am-I">My skills</h3>
                    <p class="description">
                        The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild
                        Question
                        Marks and
                        devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put
                        her
                        initial
                        into the belt and made herself on the way.
                    </p>
                </div>
            </div>

            <div class="progress-bars">

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="progress-wrap">
                            <div>
                                <h3>Photoshop</h3>
                            </div>
                            <div class="progress">
                                <div class="progress-bar photoshop-progress" role="progressbar" style="width: 75%"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="progress-wrap">
                            <div>
                                <h3>jQuery</h3>
                            </div>
                            <div class="progress">
                                <div class="progress-bar jquery-progress" role="progressbar" style="width: 60%"
                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="progress-wrap">
                            <div>
                                <h3>HTML5</h3>
                            </div>
                            <div class="progress">
                                <div class="progress-bar html-progress" role="progressbar" style="width: 85%"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="progress-wrap">
                            <div>
                                <h3>CSS3</h3>
                            </div>
                            <div class="progress">
                                <div class="progress-bar css-progress" role="progressbar" style="width: 90%"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="progress-wrap">
                            <div>
                                <h3>Wordpress</h3>
                            </div>
                            <div class="progress">
                                <div class="progress-bar wordpress-progress" role="progressbar" style="width: 70%"
                                    aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="progress-wrap">
                            <div>
                                <h3>SEO</h3>
                            </div>
                            <div class="progress">
                                <div class="progress-bar seo-progress" role="progressbar" style="width: 80%"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="experience" style="min-height: 100vh;">
        <h2 class="text-uppercase about-title">Experience</h2>
        <h3 class="text-uppercase who-am-I">Work Experience</h3>
        <div class="timeline-bars">
            <div class="timeline-line">
            </div>
            <span class="pencil">
                <i class="fas fa-pencil-alt"></i>
            </span>
            <div class="timeline-description">
                <h2>Full Stack Developer <span>2017-2018</span></h2>
                <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare
                    how
                    cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added
                    forth chief trees but rooms think may.</p>

            </div>

            <div>
                <div class="timeline-line">
                </div>
                <span class="pencil-red pencil">
                    <i class="fas fa-pencil-alt"></i>
                </span>
                <div class="timeline-description">
                    <h2>Front End Developer at Google Company <span>2017-2018</span></h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic life One day however a small line of blind text by the name of Lorem Ipsum
                        decided to leave for the far World of Grammar.</p>
                </div>
            </div>
            <div>
                <div class="timeline-line">
                </div>
                <span class="pencil-yellow pencil">
                    <i class="fas fa-pencil-alt"></i>
                </span>
                <div class="timeline-description">
                    <h2>System Analyst <span>2017-2018</span></h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic life One day however a small line of blind text by the name of Lorem Ipsum
                        decided to leave for the far World of Grammar.</p>

                </div>
            </div>
            <div>
                <div class="timeline-line">
                </div>
                <span class="pencil-purple pencil">
                    <i class="fas fa-pencil-alt"></i>
                </span>
                <div class="timeline-description">

                    <h2>Creative Designer <span>2017-2018</span></h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic life One day however a small line of blind text by the name of Lorem Ipsum
                        decided to leave for the far World of Grammar.</p>

                </div>
            </div>
            <div>
                <div class="timeline-line">
                </div>
                <span class="pencil-green pencil">
                    <i class="fas fa-pencil-alt"></i>
                </span>
                <div class="timeline-description">

                    <h2>UI/UX Designer at Envato <span>2017-2018</span></h2>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic life One day however a small line of blind text by the name of Lorem Ipsum
                        decided to leave for the far World of Grammar.</p>

                </div>
            </div>
            <span class="timeline-end"></span>
        </div>
    </section>

    <section id="work" style="min-height: 100vh;">
        <h2 class="text-uppercase about-title">My work</h2>
        <h3 class="text-uppercase who-am-I">Recent work</h3>
        <div class="row mb-5">
            <div class="col-12 col-md-6 col-lg-6 text-center">
                <div class="card h-100 text-center">
                    <img src="../../../assets/images/work/Belongg_mobile.png" class="card-img-top" alt="Belongg" style="max-height: 12rem;object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 text-center">
                <div class="card h-100 text-center">
                    <img src="../../../assets/images/work/Olivegaea.png" class="card-img-top" alt="Olivegaea">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 text-center">
                <div class="card h-100 text-center">
                    <img src="../../../assets/images/work/Belongg_admin.png" class="card-img-top" alt="Belongg Admin">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 text-center">
                <div class="card h-100 text-center">
                    <img src="../../../assets/images/work/Arthan_careers.png" class="card-img-top" alt="Arthan careers">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" style="height: 80vh;">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <h2 class="text-uppercase about-title">Get in touch</h2>
                <h3 class="text-uppercase who-am-I">Contact</h3>
            </div>
        </div>
        <div class="contact-section">
            <div class="row no-gutters">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card text-center h-100">
                        <i class="far fa-envelope"></i>
                        <div class="card-body">
                            <h5 class="card-title">Email</h5>
                            <p class="card-text">avinash.humney@outlook.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card text-center h-100">
                        <i class="fas fa-phone"></i>
                        <div class="card-body">
                            <h5 class="card-title">Phone</h5>
                            <p class="card-text">7003082686</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="card text-center h-100">
                        <span>
                            <i class="fas fa-map"></i>
                        </span>
                        <div class="card-body">
                            <h5 class="card-title">Address</h5>
                            <p class="card-text">Bengaluru, Karnataka</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

dude